.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#replay{
    border-radius: 10px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    color: rgb(99, 11, 11);
    text-align: center;
    line-height: 3;
}

canvas{
box-shadow: 10px 10px 10px grey;
border-radius: 10px;
margin-top: 30px;
}
